/*linguagem de folhas de estilos*/
html {
    font-size: 14px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */ 
    font-family: "Open Sans", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */ 
}

body{
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header{
    position: relative;
}

.container{ /*essa tag div que foi chamada de container fixa a largura
            disponível para o conteúdo e centralizá-lo na página. Além disso,
            deixa um espaço em branco nas laterais.*/
    margin: 0 auto;
    width: 960px;
}

.sacola {
    background-image: url(img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    padding-right: 35px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
    font-size: 15px;
    position: relative;
    top: 10px;
}

.menu-opcoes a {
    color: #003366;
}
